<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            color:black;
        }
    </style>
</head>
<body>
    <center>
        <form method="POST">
            <div class="parent">
                <div class="container">
                    <label>New Password</label></br>
                    <input type="password" name="new_password" placeholder="Enter your New Password"/>
                </div></br>
                <div class="one">
                    <label>Confirm Password</label></br>
                    <input type="password" name="confirm_password" placeholder="Enter the Password again"/>
                </div></br>
                <div class="two">
                    <button type="submit"><a href="">Submit</a></button>
                </div>
            </div>
        </form>
    </center>
</body>
</html>