<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            <div class="container">
                <label>Title</label></br>
                <input type="text" name="title" placeholder="Enter the Title here" value="{{notesdata[1]}}"/></br>
                <label>Description</label></br>
                <textarea name="description" placeholder="Enter the description here">{{notesdata[2]}}</textarea></br>
                <button type="submit">Submit</button>
            </div>
        </form>
    </center>
</body>
</html>