{% extends 'Dashboard.html' %}
{% block addcss %} 
<link rel="stylesheet" href="{{url_for('static',filename='Add_Notes.css')}}">
{% endblock %}
{% block content %}
    <center>
        <h1>View all Files</h1>
        <table border="1" cellpadding="7">
            <thead>
                <tr>
                    <th>File_id</th>
                    <th>File_name</th>
                    <th>Created_At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in filesdata %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td><button type="submit"><a href="{{url_for('View_files',fid=i[0])}}">View</a></button></td>
                    <td><button type="submit"><a href="{{url_for('Download',fid=i[0])}}">Download</a></button></td>
                    <td><button type="submit"><a href="{{url_for('Delete_file',fid=i[0])}}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
{% endblock content %}